<div class="container">

  <h1>manager Account</h1>
 
  <form name="addRecordForm" ng-if="!ifClicked">
    <div class="row">
        <div class="col-xs-2">
        <select class="form-control" ng-model="record.category" multiple=true>
          <option ng-repeat="category in categories">{{category.name}}</option>
        </select>
      </div>
        <div class="col-xs-2">
        <select class="form-control" ng-model="record.category" multiple=true>
          <option ng-repeat="category in categories">{{category.name}}</option>
        </select>
      </div>
      <!--<div class="col-xs-2">
        <input type="text" class="form-control" placeholder="Project Name" ng-model="project.name" required/>
      </div>
      <div class="col-xs-4">
        <input type="number" class="form-control" placeholder="Team Size" ng-model="project.teamSize">
      </div>
      <div class="col-xs-2">
        <button type="submit" class="btn btn-primary" ng-click="createProject(project)">Create</button>
      </div>-->
    </div>
      
      
  </form>
  
    
    <div ng-if="ifClicked">
        <span ng-repeat='cl in developers'>
        <h4>{{cl.employee_id}}</h4>
            </span>
        <span ng-repeat='tc in techLeads'>
        <h4>{{cl.employee_id}}</h4>
            </span>
        <h4>{{project.projectName}}</h4>
    </div>
  <!--<h1>History</h1>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="record in records | orderBy:'date':!reverse">
        <td>{{record.category}}</td>
        <td>{{record.description}}</td>
        <td>{{record.date | date:'medium'}}</td>
        <td>{{account.currency}} {{record.amount}}</td>
        <td><button type="submit" class="btn btn-danger btn-xs" ng-click="deleteRecord(record)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>